@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

* {
    
    margin: 0;
    padding: 0;
    background-color: darkslategray;
}
/* main section */
.ui-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    font-family: "Bungee Spice", sans-serif;
}